services:
  mysql:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: temp
    volumes:
      - mysql_data:/var/lib/mysql

  fastapi:
    build: .
    container_name: fastapi_app
    ports:
      - "8001:8000"
      - "5678:5678"
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: root123
      DB_PORT: 3306
      DB_NAME: temp
    depends_on:
      - mysql

volumes:
  mysql_data:
